<div class="container">
  {{!-- Title... --}}
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Eat & Enjoy Da Burger!</h1>
    </div>
  </div>

  {{!-- img.. --}}
  <div class="row">
    <div class="col-md-12 text-center">
      <img class="img=fluid" src="/assets/img/eatdaburger.jpg">
    </div>
  </div>
  <div class="row">
    {{!-- Burgers are not Devoured! --}}
    <div class="col-md-4">

      <h2 class="text-Center">Not Devoured</h2>
      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        {{> burgers/burger-block Devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    {{!-- Form --}}
    <div class="col-md-4 text-center">
      <form>
        <input type="text" id="burger" placeholder="Enter your Burger Name">
      </form>
      <button type="submit" id="submit-button" class="btn btn-primary submit-btn" value="Submit">submit</button>

    </div>

    {{!-- Devoured --}}
    <div class="col-md-4">
      <h2 class="text-Center">Devoured</h2>

      <ul>
        {{#each burgers}}
        {{#if this.devoured}}
        <li>{{burger_name}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>




</div>